name: Blue-Green Deployment

on:
  push:
    branches:
      - main

env:
  TERRAFORM_WORKSPACE: blue # Current workspace

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.5
    - name: Terraform Init
      run: terraform init
    - name: Terraform Validate
      run: terraform validate
    - name: Terraform Format
      run: terraform fmt -check
    - name: Terraform Plan
      id: plan
      run: terraform plan -out=blue-green-plan -var workspace=$TERRAFORM_WORKSPACE
    - name: Save Terraform Plan Artifact
      uses: actions/upload-artifact@v2
  

