name: Blue-Green Deployment

on:
  push:
    branches:
      - main

env:
  TERRAFORM_WORKSPACE: blue # Current workspace

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
  

