on:
  push:
    branches:
      - main

jobs:
  create-instance:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.4
                                
    - name: Install Node.js
      uses: actions/setup-node@v2

    - name: Initialize Terraform
      run: terraform init

    - name: Create EC2 instance
      run: terraform apply -auto-approve

