name: Create EC2 instance with Terraform

on:
  push:
    branches:
    - main

jobs:
  create-instance:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.4

    - name: Initialize Terraform
      run: terraform init
